body {
  margin: 0;
  padding: 0;
  background-color: #a6afbb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: rgb(19, 43, 88);
  align-items: center;
  -webkit-box-shadow: 0px 0px 13px 3px #000000; 
  box-shadow: 0px 0px 13px 3px #000000;
}
.logo{
  font-size: 60px;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: antiquewhite;
}
.nav-list{
  display: flex;
}
.list{
  position: relative;
  list-style: none;
  font-size: 18px;
  color: antiquewhite;
  margin: 0 10px;
  cursor: pointer;
  font-weight:700;
}
.list a{
  text-decoration: none;
  color: antiquewhite;
}
.menuNav{
  display: none;
}
.closeMenu{
  display: none;
}

.sub{
  position: absolute;
  right: 50%;
  border-radius: 30px;
  transform: translateX(50%);
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  width: 120px;
  padding-right: 40px;
  flex-direction: column;
  height: auto;
  z-index: 1;
}
.subList{
  list-style: none;
  text-transform: capitalize;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  color: #273b55;
}
.subList:hover{
  background-color: #273b55;
  color: aliceblue;
  padding: 10px;
  border-radius: 30px;
}
.formSrchNav{
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.formSrchNav input{
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  font-size: 18px;
}
.loader{
  margin: 200px auto
  
}
.srchBtn{
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  color: #273b55;
}
.homePage{
  max-width: 1200px;
  min-height: auto;
  height: 650px;
  margin: 0 auto;
}
.imgHomeCont{
  position: relative;
  width: 100%;
  height: 100%;
}
.imgHome{
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.formSrchHome{
  position: absolute;
  display: flex;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.formSrchHome input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 20px;
  outline: none;
  border: 0;
}
.srchBtnHome{
  position: absolute;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  right: 5px;
  color: #273b55;
  cursor: pointer;
}
.homeTitle{
  position: absolute;
  top: 150px;
  width: 700px;
  text-align: center;
  color: rgb(255, 247, 236);
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%);
}
.nowPlayingMovies{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 100px;
}
.homePage h2{
  color: #273b55;
  margin-left: 10px;
}
.singleMovieNP{
  width: 240px;
  margin: 10px;
  position: relative;
}
.sm-img{
  border-radius: 30px;
  width: 240px;
  height: 375px;
}
.singleMovieNP h3{
  color: rgb(33, 37, 44);
}
.singleMovieNP p{
  color: rgb(51, 68, 99);
}
.voteScore{
  position: absolute;
  background-color:#273b55;
  color: antiquewhite;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 340px;
  left: 12px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}
.voteScore.single{
position: relative;
font-size: 30px;
width: 40px;
height: 40px;
top: 0;
left: 0;
}

.overviewCont{
  position: relative;
  display: flex;
  width: 100%;
  height: 900px;
  
}
.shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}
.shadow::before{
content: '';
position: fixed;
width: 100%;
top: 0;
left: 0;
height: 100%;
z-index: -1;
background-color: #030f22b0;
}
.posterSingle{
  position: relative;
  margin: 100px;
  width: 450px;
  height: 500px;
  margin-right: 20px;
}
.bookmark{
  position: absolute;
  top: 0px;
  left: 40px;
  transition: .5s;
}
.star{
  font-size: 50px;
  transition: .6s;
  cursor: pointer;
}
.posterSingle img{
  width: 450px;
  border-radius: 30px;
}
.overview{
  margin: 100px;
}
.title{
  display: flex;
  align-items: center;
  height: 70px;
  color: aliceblue;
  margin-bottom: 0;
}
.title h1{
  font-size: 40px;
  margin-right: 10px;
}
.title small{
  font-size: 40px;
  color: #a6afbb;
}
.infoItem{
  display: flex;
  align-items: center;
  color: aliceblue;
  height: 21px;
}
.genres{
  display: flex;
}
.genres p{
  margin-right:5px;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: aliceblue;
}
.ratings{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ratings p{
  font-size: 25px;
  color: aliceblue;
  margin: 0 10px;
}
.rateShow{
  margin-left: 10px;
  position: relative;
 }
.ratingMini{
  position: absolute;
  top: -90%;
  right: 50%;
  transform: translateX(50%);
  background-color: aliceblue;
  color: #0f243f;
  font-weight: 700;
  border-radius: 10px;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  width: 100px;
}
 .rateContainer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b4;
  z-index: 2;
 }
 .rateContent{
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 30px;
  background-color: aliceblue;
 }
 .rateContent h3{
  text-align: center;
 }
 .confirmRating{
  width: 30%;
  margin: 0 auto 10px auto;
  cursor: pointer;
  padding: 5px;
  border-radius: 30px;
  border:3px solid #0f243f;
  font-weight: 700;
 }
 .confirmRating.remove{
  background-color: #a6afbb;
  border: 1px;
  font-weight: 500;
  color: #0f243f;
 }
 .rateStars{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
 }
 .closeRateModal{
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 10px;
  top: 10px;
 }
 .rateStars div{
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
 }
 .myRating{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #0f243f;
  top: 83%;
  right: 10px;
  width: 50px;
  height: 50px;
  color: #0f243f;
  font-size: 30px;
  font-weight: 700;
  background-color: aliceblue;
 }

.tag{
  color: aliceblue;
  font-style: italic;
}
.desc{
  width: 600px;
}
.homepage{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px; 
  margin-left: 10px;
  cursor: pointer;
}
.homepage:hover{
color:#273b55;
}
.headDesc{
  color: aliceblue;
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 22px;
}
.mainDesc{
  margin-top: 0;
  color: aliceblue;
  font-size: 18px;
}
.castAndInfo{
  display: flex;
  margin: 50px 100px;
}
.castBelow{
  position: relative;
  display: flex;
  width: 1100px;
  height: auto;
  margin: 10px;
  overflow-x: scroll;
  margin-right: 100px;
  
}
.viewAllCast{
  text-decoration: none;
  height: 100px;
  margin: auto;
  font-size: 30px;
  color: aliceblue;
  cursor: pointer;
}
.viewAllCast div{
  display: flex;
  align-items: center;
}
.viewAllCast:hover{
  color: rgb(79, 122, 160)
}
.imdbSingle{
  font-size: 40px;
  cursor: pointer;
}
.imdbSingle:hover{
  color: #273b55;
  background-color: aliceblue;
}

.castPerson{
  width: 200px;
  margin: 20px;
  border-radius: 30px 30px 30px 30px;
  background-color: antiquewhite;
  -webkit-box-shadow: 0px 0px 24px -3px aliceblue;
-moz-box-shadow: 0px 0px 24px -3px aliceblue;
box-shadow: 0px 0px 24px -3px aliceblue;
}
.castPerson img{
  width: 200px;
  border-radius: 30px 30px 0 0;
}
.castName{
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}
.castCharacter{
  margin: 10px;
}
.additionalInfo{
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.additionalInfo a{
  color: aliceblue;
  text-decoration: none;
  border-bottom:1px solid aliceblue ;
}
.additionalInfo a:hover{
  color: rgb(79, 122, 160)
}
.additionalInfo div{
  margin-bottom: 5px;
  color: aliceblue;

}
.additionalInfo div p:first-of-type{
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
}
.additionalInfo div p{
  margin-top: 0;
}
.person-container{
  width: 1300px;
  margin: 80px auto;
  display: flex;
}

.person-info-left img{
 width: 300px;
 border-radius: 13px;
 margin-bottom: 30px;
 -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.58); 
box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.58);
}
.person-info-left h2{
 margin-bottom: 10px;
}
.person-info-left h4{
  margin-bottom: 0px;
 }
.person-info-left p{
  margin-top: 0;
 margin-bottom: 10px;
}
.socials{
 margin-top: 20px;
}
.socials a{
 color:#273b55;
 margin-right: 12px;
 font-size: 30px;
}
.socials a:hover{
 color: rgb(55, 103, 175);
}
.person-info-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 100px;
  width: 800px;
}
.person-info-right h1{
  margin-top: 0;
  margin-bottom: 0;
}
.person-info-right h3{
  margin-bottom: 0;
}
.person-info-right h2{
  border-bottom: 1px dotted black;
  width: 300px;
}
.person-info-right p{
  margin-top: 0;
}
.readMore{
  cursor: pointer;
  color: #273b55;
}
.readMore:hover{
  color: rgb(90, 125, 156)
}
.knownFor{
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.knownFor div{
  width: 100px;
}
.movieKnownFor{
  width: 100px;
  margin: 10px;
  cursor: pointer;
}
.movieKnownFor img{
  width: 100px;
  border-radius: 20px;
}
.movieKnownFor p{
  font-weight: bold;
  margin-bottom: 0;
}
.allMovies{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 20px;
  padding: 20px 35px;
  border: 1px solid black;
}
.allMovies h3{
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 30px;
}
.allMovie{
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.allMovie a{
  text-decoration: none;
  color: black;
}
.allMovie p{
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 17px;
}
.allTitle{
  font-weight: bold;
}
.castCont{
  display: flex;
  width: 700px;
  height: auto;
  margin: 100px auto;
}
.allCast{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid black;
  width: 280px;
  height: auto;
  border-radius: 30px;
  padding:0 20px;
  margin: 0 10px;
}

.castHead{
  display: flex;
  align-items:center;
}
.castHead p{
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}
.castHead span{
  font-size: 20px;

}
.singleCast{
display: flex;
margin-bottom: 30px;
}
.nameAndCharacter{
  margin-left: 10px;
}
.singleCast img{
  width: 100px;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.63); 
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.63);
}
.peopleCont{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1500px;
  min-width: auto;
  margin: 100px auto;
}
.profile{
  width: 250px;
  margin: 20px;
  background-color:#273b55;
  color: aliceblue;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 24px -3px #273b55;
-moz-box-shadow: 0px 0px 24px -3px #273b55;
box-shadow: 0px 0px 24px -3px #273b55;
}
.profile img{
  width: 250px;
  border-radius: 30px 30px 0 0;
}
.panagBtns{
  position: absolute;
  bottom: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color:rgb(19, 43, 88);
}
.panagBtns h3{
  color: #0f243f;
  font-size: 50px;
}

.panagBtns div{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0 10px;
  font-size: 70px;
  font-weight: bold;
}
.panagBtns div:hover{
  color: #273b55;
}
.categoryCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.categoryCont h1{
  color: #0f243f;
  font-size: 50px;
}
.categWrap{
  display: flex;
  justify-content: center;
  width: 1500px;
  flex-wrap: wrap;
  margin: 50px auto;
}
.item{
  width: 250px;
  margin: 20px;
  height: auto;
  background-color:#273b55;
  color: aliceblue;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 24px -3px #273b55;
-moz-box-shadow: 0px 0px 24px -3px #273b55;
box-shadow: 0px 0px 24px -3px #273b55;
}
.posterCont{
  width: 100%;
  position: relative;
}
.posterCont img{
  width: 100%;
  height: 375px;
  border-radius: 30px 30px 0 0 ;
}
.rating{
  position: absolute;
  background-color:#0f243f;
  color:aliceblue;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 340px;
  left: 12px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}
.categInfo{
  padding: 12px;
}
.categInfo p{
  margin-bottom: 0;
}
.categInfo h3{
  margin-top: 0;
  margin-bottom: 0;
}
.categTitle{
  text-decoration: none;
  color: aliceblue;
}
.searchPage{
  display: flex;
  width: 1500px;
  margin: 100px auto;
}
.searchSide{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  margin-right: 50px;
  border-radius: 30px;
  background-color: #273b55;
  color: aliceblue;
  height: 500px;
}
.radio{
  font-size: 20px;
  margin: 10px 0;
}
.searchItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1000px;
}
.searchItem{
  display: flex;
  align-items: center;
  width: 100%;
  background-color:#273b55;
  padding:5px 15px;
  height: 180px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.searchItem img{
  width: 100px;
  height: 150px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}
.searchInfo{
  color: aliceblue;
}
.searchInfo h3{
  margin-bottom: 0;
  cursor: pointer;

}
.searchInfo small{
  color:rgb(169, 177, 184)
}
.searchInfo p{
  margin: 0;
}
.favoriteCont{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.favoriteCont h1{
  color: #0f243f;
  font-size: 50px;
}
.favorites{
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: 30px auto;
  justify-content: center;
}
.favorite{
  position: relative;
  height: 520px;
  width: 300px;
  background-color: #273b55;
  border-radius: 30px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 24px -3px #273b55;
-moz-box-shadow: 0px 0px 24px -3px #273b55;
box-shadow: 0px 0px 24px -3px #273b55;
}
.favorite a{
  text-decoration: none;
  color: aliceblue;
}
.favorite h3{
  width: 80%;
  margin: 0 auto;
}
.favorite img{
  width: 100%;
  height: 450px;
  border-radius: 30px 30px 0 0;
}
.rmvFav{
position: absolute;
border: 0;
top:10px;
right: 10px;
background-color: transparent;
font-size: 30px;
color: #a6afbb;
cursor: pointer;
transition: 0.6s;
z-index: 1;
}
.rmvFav:hover{
  color: red;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  flex-direction: column;
  margin: 10px auto;
}
.about h1{
  color: #0f243f;
  font-size: 50px;
  margin-bottom: 0;
}
.about p{
font-size: 20px;
}
.quizContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.quizSelection{
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  min-width: 300px;
  height: auto;
  max-width: auto;
  background-color:#0f243f;
}
.quizSelection select{
  border-radius: 30px;
  border: 0;
  padding: 5px 10px;
  font-size: 17px
}
.quizNum{
  border-radius: 30px;
  border: 0;
  padding: 5px 10px;
  font-size: 17px;
  margin-bottom: 10px;
}
.quizSelection form{
  display: flex;
  flex-direction: column;
}
.quizRadio{
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid aliceblue;
}
.strQuiz{
  width: 120px;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  border-radius: 30px;
  border: 0;
  padding: 10px;
  font-size: 17px;
  color:#0f243f;
  font-weight: 700;
  cursor: pointer;
}
.quizAnwsers{
  position: relative;
  color: aliceblue;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  min-width: 300px;
  height: auto;
  max-width: auto;
  background-color:#0f243f;
}
.nextBtnQuiz{
  position: absolute;
  right: 25px;
  border: 0;
  border-radius: 10px;
  background-color: #0f243f;
  color: aliceblue;
  font-weight: bolder;
  cursor: pointer;
  padding: 5px 10px;
  bottom: 15px;
}
.answers{
  width: 100%;
  margin: 0 auto 40px auto;
}
.answers button{
  border-radius: 30px;
  border: 0;
  font-weight: 700;
  cursor: pointer;
  padding: 5px 10px;
  color: #0f243f;
  margin: 0 10px;
  font-size: 15px;
}
.quizModalCont{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000093;
  z-index: 2;
}
.quizModalContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 30%;
  border-radius: 30px;
  background-color: #0f243f;
  margin: 200px auto;
}
.quizModalCont button{
background-color:aliceblue;
color: #0f243f  ;
border: 0;
font-weight: 700;
border-radius: 30px;
padding: 5px 10px;
cursor: pointer;
}
.indxOf{
font-size: 17px;
font-weight: 700;
position: absolute;
right: 30px;
top: 10px;
}
@media(max-width:1080px){

  .formSrchNav{
    display: none;
  }
  .menuContainer{
    position: fixed;
    width: 300px;
    background-color: #273b55;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: .5s;
    z-index: 1;
  }
  .active.menuContainer{
    transform: translateX(0%);
  }
  .nav-list{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .nav-list li{
    margin: 20px 0;
    cursor: pointer;
  }
  .menuNav{
    display: flex;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
  }
  .closeMenu{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: antiquewhite;
  }
  .sub{
    align-items: flex-start;
    padding: 0;
    border-radius: 0;
    width: 300px;
    left: -190px;
  }
  .sub a{
    align-items: flex-start;
    padding: 0;
    border-radius: 0;
    width: 300px;
    left: -190px;
  }
  .subList:hover{
    border-radius: 0;
    width: 300px;
  }
  .homePage{
    width: 800px;
    height: 550px;
  }
  .peopleCont{
    width: 900px;
  }
  .homeTitle{
    font-size: 45px;
  }
  .favorites{
    width: 900px;
  }
  .categWrap{
    width: 900px;
  }
  
  .posterSingle img{
    width: 300px;
  }
  .star{
    font-size: 40px;
  }
  .overview{
    margin-left: 20px;
  }
  .title h1{
    font-size: 31px;
  }
  .title small{
    font-size: 28px;
  }
  .castAndInfo{
    flex-direction: column;
  }
  .castBelow{
    width: 800px;
  }
  .person-container{
    width: 900px;
  }
  .person-info-right{
    width: 500px;
    margin-left: 50px;
  }
  
  .allMovies{
    width: 500px;
  }
}

@media(max-width:440px) {
  .logo{
    font-size: 40px;
    margin-right: 50px;
  }
  .menuNav{
    right: 20px;
  }
  .menuContainer{
    width: 200px;
    z-index: 3;
  }
  .homePage{
    width: auto;
    height: 400px;
  }
  .imgHomeCont{
    width: auto;
  }
  .homeTitle{
    margin-top: -45px;
    font-size: 35px;
    width: 100%;
  }
  .formSrchHome{
    width: auto;
  }
  .formSrchHome input{
    width: auto;
  }
  .imgHome{
    width: 100%;
    height: 100%;  }

    .nowPlayingMovies{
      flex-direction: column;
      align-items: center;
    }
    .singleMovieNP{
      border-bottom: 5px solid #0f243f;
    }
    .singleItem{
      display: flex;
      flex-direction: column;
      width: auto;
    }
    .overviewCont{
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    .posterSingle{
      margin: 0 auto;
      width: 100%;
      height: 100%;
      border-radius: 0;
     }
     .posterSingle img{
      width: 100%;
      height: 100%;
      border-radius: 0;

     }
     .overview{
      position: relative;
      margin: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      border-bottom: 3px  #0f243f;
     }
     .desc{
      width: 100%;
     }
     .headDesc{
      width: 90%;
      margin: 0 auto;
     }
     .mainDesc{
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 100px;
     }
     .title{
      width: 90%;
      justify-content: center;     
     }
     .title small{
      font-size: 14px;
     }
     .title h1{
      font-size: 20px;
      margin: 0;
     }
     .castAndInfo{
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 10px auto;
     }
     .infoItem{
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
     }
    .voteScore.single{
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
    .ratings p{
      font-size: 18px;
    }
     .genres{
      font-size: 12px;
     
     }
     .tag{
      width: 90%;
      margin: 10px auto;
      font-size: 13px;
     }
     .castBelow{
      flex-direction: row;
      height:auto;
      width: 100%;
      margin: 10px auto;
      overflow: scroll;
     }
     .castPerson{
      height: 90%;
     }
     .castPerson img{
      width: 150px;
     }
     .viewAllCast{
      display: none;
     }
     .additionalInfo{
      width: 90%;
      margin: 0 auto;
     }
     .additionalInfo div{
      font-size: 12px;
     }
     .person-container{
      width: 90%;
     }
     .person-info-left{
      width: 30%;
      font-size: 12px;
     }
     .person-info-left h2{
      font-size: 12px;
     }
     .person-info-left img{
      width: 80px;
     }
     .socials{
      display: flex;
      flex-direction: column;
     }
     .person-info-right{
      width: 70%;
      margin: 0;
      margin-left: 10px;
      font-size: 14px;
     }
     .person-info-right h1{
      font-size: 18px;
     }
     .person-info-right h2{
      width: 100%;
     }
     .allMovies{
      margin-top: 100px;
      margin-left: -86px;
      width: 100%;
     }
     .allMovie p{
      font-size: 12px;
     }
     .loader{
      width: 150px !important;
      height: 150px !important;
     }
     .categoryCont{
      width: 100%;
     }
     .categoryCont h1{
      font-size: 30px;
     }
     .categWrap,.favorites{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 90%;
     }
     .peopleCont{
      width: 100%;
     }
     .profile{
      width: 20%;
      height: auto;
      border-radius: 20px;
      font-size: 10px;
     }
     .profile img{
      width: 100%;
      border-radius: 20px 20px 0 0;
     }
     .profile h3{
      margin: 5px;
     }
     .favoriteCont h1{
      font-size: 40px;
     }
     .favorite{
      width: 90%;
      height: 100%;
     }
     .favorite img{
      width: 100%;
     }
     .favorite h3{
      padding: 10px;
     }
     .castCont{
      width: 100%;
      flex-direction: column;
     }
     .allCast{
      width: 70%;
      margin: 10px auto;
     }
     .singleCast img{
      width: 100px;
     }
     .searchPage{
      flex-direction: column;
      width: 100%;
      margin: 50px 0;
     }
     .searchSide{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px;
      height: 100%;
      font-size: 14px;
     }
     .searchSide h3{
      margin: 0;
     }
     .searchSide form label{
      font-size: 14px;
     }
     .searchItems{
      width: 90%;
      margin: 0 auto;
     }
     .searchItem h3{
      font-size: 16px;
     }
     .searchItem p{
      font-size: 12px;
     }
     .ToTop{
      position: fixed;
      width: 70px;
      height: 70px;
      bottom: 15px;
      background-color: #0f243f;
      color: aliceblue;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 30px;
      right: 15px;
      cursor: pointer;
      transition: .6s;
      z-index: 2;
      animation: bounce 1.2s infinite alternate;     }
      
     @keyframes bounce {
      to { transform: scale(1.1); }
    }

    .quizSelection{
      color: aliceblue;
      font-size: 20px;
      text-align: center;
      padding: 20px;
      border-radius: 30px;
      min-width: 200px;
      height: auto;
      max-width: auto;
      background-color:#0f243f;
    }
    .quizContainer{
      height: 100vh;
    }
    .quizSelection select{
      font-size: 12px
    }
    .quizNum{
      border-radius: 30px;
      border: 0;
      padding: 5px 10px;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .quizSelection form{
      display: flex;
      flex-direction: column;
    }
    .quizRadio{
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 3px solid aliceblue;
    }
    .strQuiz{
      width: 90px;
      margin-top: 30px;
      margin: 30px auto 0 auto;
      border-radius: 30px;
      border: 0;
      padding: 10px;
      font-size: 12px;
      color:#0f243f;
      font-weight: 700;
      cursor: pointer;
    }
    .quizSelection{
      font-size: 14px;
    }
    .quizAnwsers{
      position: relative;
      color: aliceblue;
      font-size: 9px;
      text-align: left;
      padding: 20px;
      border-radius: 30px;
      min-width: 200px;
      height: auto;
      max-width: 80%;
      background-color:#0f243f;
    }
    
    .nextBtnQuiz{
      position: absolute;
      right: 25px;
      border: 0;
      font-size: 12px;
      border-radius: 10px;
      background-color: #0f243f;
      color: aliceblue;
      font-weight: bolder;
      cursor: pointer;
      padding: 5px 10px;
      bottom: 15px;
    }
    .answers{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto 40px auto;
    }
    
    .answers button{
      border-radius: 30px;
      border: 0;
      font-weight: 700;
      cursor: pointer;
      padding: 5px 10px;
      color: #0f243f;
      margin: 5px 0;
      font-size: 11px;
    }
    .quizModalCont{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000093;
      z-index: 2;
    }
    .quizModalContent{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
      height: 30%;
      border-radius: 30px;
      background-color: #0f243f;
      margin: 200px auto;
    }
    .quizModalCont button{
    background-color:aliceblue;
    color: #0f243f  ;
    border: 0;
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    }
    .indxOf{
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 30px;
    top: 10px;
    }
    .rateContent h3{
     margin-bottom: 0;
    }
    .confirmRating{
     width: 40%;
    }
    .closeRateModal{
     font-size: 30px;
    }
    .rateStars div{
     margin: 3px;
     font-size: 22px;
     cursor: pointer;
    }
}