body {
  margin: 0;
  padding: 0;
}

.nav{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: rgb(19, 43, 88);
  align-items: center;
  -webkit-box-shadow: 0px 0px 13px 3px #000000; 
  box-shadow: 0px 0px 13px 3px #000000;
}
.logo{
  font-size: 50px;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: antiquewhite;
}
.nav-list{
  display: flex;
}
.list{
  position: relative;
  list-style: none;
  font-size: 18px;
  color: antiquewhite;
  margin: 0 10px;
  cursor: pointer;
}
.list a{
  text-decoration: none;
  color: antiquewhite;
}
.menuNav{
  display: none;
}
.closeMenu{
  display: none;
}

.sub{
  position: absolute;
  right: 50%;
  border-radius: 30px;
  transform: translateX(50%);
  background-color: antiquewhite;
  display: flex;
  align-items: flex-start;
  width: 100px;
  flex-direction: column;
  height: auto;
  z-index: 1;
}
.subList{
  list-style: none;
  text-transform: capitalize;
  margin: 10px 0;
  padding: 2px;
  font-size: 18px;
  color: #273b55;
}
.subList:hover{
  border-bottom: 1px solid #273b55;
}
.formSrchNav{
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.formSrchNav input{
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  font-size: 18px;
}
.srchBtn{
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  color: #273b55;
}
@media(max-width:1080px){

  .formSrchNav{
    display: none;
  }
  .menuContainer{
    position: fixed;
    width: 300px;
    background-color: #273b55;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: .5s;
  }
  .active.menuContainer{
    transform: translateX(0%);
  }
  .nav-list{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .nav-list li{
    margin: 20px 0;
    cursor: pointer;
  }
  .menuNav{
    display: flex;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
  }
  .closeMenu{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: antiquewhite;
  }
  .sub{
    border-radius: 0;
    width: 100%;
    left: -190px;
  }
}