body {
  margin: 0;
  padding: 0;
  background-color: #a6afbb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: rgb(19, 43, 88);
  align-items: center;
  -webkit-box-shadow: 0px 0px 13px 3px #000000; 
  box-shadow: 0px 0px 13px 3px #000000;
}
.logo{
  font-size: 60px;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: antiquewhite;
}
.nav-list{
  display: flex;
}
.list{
  position: relative;
  list-style: none;
  font-size: 22px;
  color: antiquewhite;
  margin: 0 10px;
  cursor: pointer;
  font-weight:700;
}
.list a{
  text-decoration: none;
  color: antiquewhite;
}
.menuNav{
  display: none;
}
.closeMenu{
  display: none;
}

.sub{
  position: absolute;
  right: 50%;
  border-radius: 30px;
  transform: translateX(50%);
  background-color: antiquewhite;
  display: flex;
  align-items: flex-start;
  width: 100px;
  flex-direction: column;
  height: auto;
  z-index: 1;
}
.subList{
  list-style: none;
  text-transform: capitalize;
  margin: 10px 0;
  padding: 2px;
  font-size: 18px;
  color: #273b55;
}
.subList:hover{
  border-bottom: 1px solid #273b55;
}
.formSrchNav{
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 200px;
}
.formSrchNav input{
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  outline: none;
  font-size: 18px;
}
.loader{
  margin: 0 auto
}
.srchBtn{
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  color: #273b55;
}
.homePage{
  width: 1200px;
  height: 650px;
  margin: 0 auto;
}
.imgHomeCont{
  position: relative;
  width: 100%;
  height: 100%;
}
.imgHome{
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
.formSrchHome{
  position: absolute;
  display: flex;
  align-items: center;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.formSrchHome input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 20px;
  outline: none;
  border: 0;
}
.srchBtnHome{
  position: absolute;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  right: 5px;
  color: #273b55;
  cursor: pointer;
}
.homeTitle{
  position: absolute;
  top: 150px;
  width: 700px;
  text-align: center;
  color: rgb(255, 247, 236);
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%);
}
.nowPlayingMovies{
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
.singleMovieNP{
  width: 250px;
  margin: 10px;
  position: relative;
}
.sm-img{
  border-radius: 30px;
  width: 250px;
  height: 375px;
}
.singleMovieNP h3{
  color: rgb(33, 37, 44);
}
.singleMovieNP p{
  color: rgb(51, 68, 99);
}
.voteScore{
  position: absolute;
  background-color:#273b55;
  color: antiquewhite;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 340px;
  left: 12px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}
.voteScore.single{
position: relative;
font-size: 30px;
width: 40px;
height: 40px;
top: 0;
left: 0;
}

.overviewCont{
  position: relative;
  display: flex;
  width: 100%;
  height: 900px;
  
}
.shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}
.shadow::before{
content: '';
position: fixed;
width: 100%;
top: 0;
left: 0;
height: 100%;
z-index: -1;
background-color: #030f22b0;
}
.posterSingle{
  margin: 100px;
  width: 450px;
  height: 500px;
  margin-right: 20px;
}
.posterSingle img{
  width: 450px;
  border-radius: 30px;
}
.overview{
  margin: 100px;
}
.title{
  display: flex;
  align-items: center;
  height: 70px;
  color: aliceblue;
  margin-bottom: 0;
}
.title h1{
  font-size: 50px;
  margin-right: 10px;
}
.title small{
  font-size: 40px;
  color: #a6afbb;
}
.infoItem{
  display: flex;
  align-items: center;
  color: aliceblue;
  height: 21px;
}
.genres{
  display: flex;
}
.genres p{
  margin-right:5px;
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: aliceblue;
}
.ratings{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.ratings p{
  font-size: 25px;
  color: aliceblue;
  margin: 0 10px;
}
.tag{
  color: aliceblue;
  font-style: italic;
}
.desc{
  width: 600px;
}
.homepage{
  text-decoration: none;
  color: aliceblue;
  font-size: 20px; 
  margin-left: 10px;
  cursor: pointer;
}
.homepage:hover{
color:#273b55;
}
.headDesc{
  color: aliceblue;
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 22px;
}
.mainDesc{
  margin-top: 0;
  color: aliceblue;
  font-size: 18px;
}
.castAndInfo{
  display: flex;
  margin: 50px 100px;
}
.castBelow{
  position: relative;
  display: flex;
  width: 1100px;
  height: auto;
  margin: 10px;
  overflow-x: scroll;
  margin-right: 100px;
  
}
.viewAllCast{
  display: flex;
  align-items: center;
  height: 30px;
  margin: auto;
  font-size: 30px;
  color: aliceblue;
  cursor: pointer;
}
.viewAllCast:hover{
  color: rgb(79, 122, 160)
}
.imdbSingle{
  font-size: 40px;
  cursor: pointer;
}
.imdbSingle:hover{
  color: #273b55;
  background-color: aliceblue;
}

.castPerson{
  width: 200px;
  margin: 20px;
  border-radius: 30px 30px 30px 30px;
  background-color: antiquewhite;
  -webkit-box-shadow: 0px 0px 24px -3px aliceblue;
-moz-box-shadow: 0px 0px 24px -3px aliceblue;
box-shadow: 0px 0px 24px -3px aliceblue;
}
.castPerson img{
  width: 200px;
  border-radius: 30px 30px 0 0;
}
.castName{
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}
.castCharacter{
  margin: 10px;
}
.additionalInfo{
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.additionalInfo div{
  margin-bottom: 5px;
  color: aliceblue;

}
.additionalInfo div p:first-of-type{
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
}
.additionalInfo div p{
  margin-top: 0;
}
.person-container{
  width: 1300px;
  margin: 80px auto;
  display: flex;
}

.person-info-left img{
 width: 300px;
 border-radius: 13px;
 margin-bottom: 30px;
 -webkit-box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.58); 
box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.58);
}
.person-info-left h2{
 margin-bottom: 10px;
}
.person-info-left h4{
  margin-bottom: 0px;
 }
.person-info-left p{
  margin-top: 0;
 margin-bottom: 10px;
}
.socials{
 margin-top: 20px;
}
.socials a{
 color:#273b55;
 margin-right: 12px;
 font-size: 30px;
}
.socials a:hover{
 color: rgb(55, 103, 175);
}
.person-info-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 100px;
  width: 800px;
}
.person-info-right h1{
  margin-top: 0;
  margin-bottom: 0;
}
.person-info-right h3{
  margin-bottom: 0;
}
.person-info-right h2{
  border-bottom: 1px dotted black;
  width: 300px;
}
.person-info-right p{
  margin-top: 0;
}
.readMore{
  cursor: pointer;
  color: #273b55;
}
.readMore:hover{
  color: rgb(90, 125, 156)
}
.knownFor{
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.knownFor div{
  width: 100px;
}
.movieKnownFor{
  width: 100px;
  margin: 10px;
  cursor: pointer;
}
.movieKnownFor img{
  width: 100px;
  border-radius: 20px;
}
.movieKnownFor p{
  font-weight: bold;
  margin-bottom: 0;
}
.allMovies{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 600px;
  border-radius: 20px;
  padding: 20px 35px;
  border: 1px solid black;
}
.allMovies h3{
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 30px;
}
.allMovie{
  display: flex;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.allMovie a{
  text-decoration: none;
  color: black;
}
.allMovie p{
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 17px;
}
.allTitle{
  font-weight: bold;
}
@media(max-width:1080px){

  .formSrchNav{
    display: none;
  }
  .menuContainer{
    position: fixed;
    width: 300px;
    background-color: #273b55;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: .5s;
  }
  .active.menuContainer{
    transform: translateX(0%);
  }
  .nav-list{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .nav-list li{
    margin: 20px 0;
    cursor: pointer;
  }
  .menuNav{
    display: flex;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: antiquewhite;
    font-size: 50px;
    cursor: pointer;
  }
  .closeMenu{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: antiquewhite;
  }
  .sub{
    border-radius: 0;
    width: 100%;
    left: -190px;
  }
  .homePage{
    width: 800px;
    height: 550px;
  }
  .homeTitle{
    font-size: 45px;
  }
}